@model ClientManagementApp.Models.ClientInfo
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Add Client";
}
<h2>Add New Client</h2>
<form asp-action="SaveClient" method="post">
    <div>
        <label asp-for="ClientId">Client ID:</label>
        <input asp-for="ClientId"/>
    </div>
    <div>
        <label asp-for="CompanyName">Company Name:</label>
        <input asp-for="CompanyName"  />
    </div>
    <div>
        <label asp-for="WebUrl"WebURL:></label>
        <input asp-for="WebUrl" />
    </div>
    <div class="form-group">
        <label asp-for="Email">Email:</label>
        <input asp-for="Email"  />
    </div>
    <div class="form-group">
         <select asp-for="Category" asp-items="@ViewBag.Categories"> 
                        <option selected value="">--Select--</option>
         </select> 
    </div>
    <div class="form-group">
        <select asp-for="Standard" asp-items="@ViewBag.Standards"> 
                        <option selected value="">--Select--</option>
         </select> 
    </div>
    <button type="submit" value="save">Save</button>
</form>
<a asp-action="ShowAllClientDetails">Back to Client List</a>
